<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Khursheed's Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="This is online Portfolio of Mirza Khursheed Abbas from krishna University" />
    <meta name="keywords" content="Portfolio, Mirza Khursheed Abbas, Krishna University,Web Developer" />
    <meta name="author" content="Mirza Khursheed Abbas" />
    <script type="module"  src="/assets/index-CXl7D8vy.js"></script>
    <link rel="stylesheet"  href="/assets/index-CJhFVyDF.css">
    <link rel="icon" type="image/png" href="/assets/images/icon.png" />
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
